<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="eXGa2uT6Sny48hiyXCRWPhlgIlTiSef_EvJtLZU84yQ" />
	<meta name = "format-detection" content = "telephone=no">

	<title>ListenPages</title>
	<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
	
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/all.min.css" rel="stylesheet">
	<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
	<link href="/stylesheets/ss_custom.css" rel="stylesheet">
	<link href="/stylesheets/ss_responsive.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<!-- start Gist JS code--><script>    (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("nmovrwmg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->
</head>
<body id="login_signup">
	<div class="main_wrapper" style="background: #000000;">
		<div class="main_body login_page">
			<div class="center_frame">
				<div id="frame-content"></div>
                <p class="media-description"><%= data.name %></p>
			</div>
		</div>
    </div>

	<script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

	<script>
		$("#frame-content").html('<%- data.embeded_url %>');

		var guid = function() {

			var nav = window.navigator;
			var screen = window.screen;
			var guid = nav.mimeTypes.length;
			guid += nav.userAgent.replace(/\D+/g, '');
			guid += nav.plugins.length;
			guid += screen.height || '';
			guid += screen.width || '';
			guid += screen.pixelDepth || '';

			return guid;
		};

		$.getJSON('https://ipapi.co/json/', function(data) {
			var sendData = {
				page_id: "<%- data._id %>",
				content_type: "<%- data.content_type %>",
				country : data.postal,
				ipAddr: data.ip,
				guid: guid(),
				continent_code: data.continent_code,
				enteredTime : <%- enteredTime %>,
				referrer: "<%- referral %>"
			}

			

			// $(window).on('unload', function(eo) {
			// 	var x = 10000;
			// 	var a = (new Date()).getTime() + x;

			// 	$.ajax({
			// 		url: '/register_history',
			// 		type: 'POST',
			// 		data : sendData
			// 	});

			// 	while ((new Date()).getTime() < a) {}
			// });


			window.addEventListener('beforeunload', () => {
				var sendD = JSON.stringify(sendData);

				if (!navigator.sendBeacon) {
					navigator.sendBeacon = (url, data) =>
					window.fetch(url, {method: 'POST', body: data, credentials: 'include'})
				}

				navigator.sendBeacon('/register_history', sendD);
			});


			// window.onbeforeunload = function() {
				
			// 	var x = 300;
			// 	var a = (new Date()).getTime() + x;

			// 	$.ajax({
			// 		url: '/register_history',
			// 		type: 'POST',
			// 		data : sendData
			// 	});

			// 	while ((new Date()).getTime() < a) {}
			// }
		});


		// window.addEventListener('beforeunload', (event) => {
		// 	if (!doMyStaff()) {
		// 		event.returnValue = 'You have unfinished changes!';
		// 	}
		// });


		// window.onbeforeunload = function() {
		// 	if (doMyStaff()) {

		// 		return;
		// 	}
		// };

		// function doMyStaff(){

		// 	$.ajax({
		// 		url: '/register_history',
		// 		type: 'POST',
		// 		data : sendData
		// 	});

		// 	return true;

		// }
	</script>
</body>
</html>